{% extends "layout.html" %}
{% block content %}
{% if loggedin %}
<h1>Dine idéer</h1>
<div class="container panel">
  {% for i in ideas %}
  <article class="media content-section">
    <div class="media-body">
      <small class="text-muted">{{ i['date'] }}</small>
      <p class="article-content">
        {{ i['text'] }}
      </p>
      <form class="form-control" action="visideer" method="get">
          <button class="form-control" name="id" value="{{ i['id'] }}" type="submit">Se mere</button>
      </form>

    </div>
  </article>
  {% endfor %}
</div>
{% endif %}
{% endblock content %}
